:root {
  --wcds-color-primary-100: #fde6f4;
  --wcds-color-primary-200: #fbcfe8;
  --wcds-color-primary-300: #f7b6dd;
  --wcds-color-primary-400: #f093c8;
  --wcds-color-primary-500: #e46fb3;
  --wcds-color-primary-600: #d0529f;
  --wcds-color-primary-700: #b63c87;
  --wcds-color-primary-800: #942c6c;
  --wcds-color-primary-900: #6e1c4d;
  --wcds-color-secondary-100: #e0f9f7;
  --wcds-color-secondary-200: #b3efea;
  --wcds-color-secondary-300: #86e4dd;
  --wcds-color-secondary-400: #59d9d0;
  --wcds-color-secondary-500: #3ac7bd;
  --wcds-color-secondary-600: #2ba9a0;
  --wcds-color-secondary-700: #218984;
  --wcds-color-secondary-800: #196c68;
  --wcds-color-secondary-900: #0f4a47;
  --wcds-color-neutral-100: #f9fafb;
  --wcds-color-neutral-200: #f3f4f6;
  --wcds-color-neutral-300: #e5e7eb;
  --wcds-color-neutral-400: #d1d5db;
  --wcds-color-neutral-500: #9ca3af;
  --wcds-color-neutral-600: #6b7280;
  --wcds-color-neutral-700: #4b5563;
  --wcds-color-neutral-800: #374151;
  --wcds-color-neutral-900: #1f2937;
  --wcds-text-default: var(--wcds-color-neutral-900);
  --wcds-text-subtle: var(--wcds-color-neutral-600);
  --wcds-border-default: var(--wcds-color-neutral-500);
  --wcds-icon-default: var(--wcds-color-neutral-900);
}
